html,
body {
  background: #fafafa !important;
}

.masthead {
  background: #ffffff !important;
  border-bottom: 1px solid #eeeeee;
}

.page,
.archive,
.sidebar {
  background: transparent !important;
  padding: 0 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}

.page__footer,
.page__footer footer,
.page__footer-follow,
.page__footer-copyright {
  display: none !important;
}
